<!DOCTYPE html>
<html>
<head>
	<title></title>
<style>
</style>
</head>
<body class="background10">
<p class="serif">LOCATION</p>
<p class="serif">
	5985 Pizza Way
	Charleston, WV 25311
</p>
<p class="serif">
	(999)piz-zawy<br>
	(999)749-9299
</p>

</body>
</html>