<!DOCTYPE html>
<html>
<head>
	<title></title>
<style>

</style>
</head>
<body class="background5">

<h2><form method="post" action="delivery_address">
<p class="i">Please input the address where you would like your order delivered:</p>
<p class="f">
	Street Address, City, Zip Code:  <input type="text" name="address" value="Street, City, Zip Code">
	<input type="submit">
</p>
</form>
</h2> 
</body>
</html>

