<center><h1>You've chosen to have your order delivered.</h1></center>

<center><h2>Please input the address where you would like your order delivered:</h2></center>

<center><h2><form method="post" action="delivery_address">
	<input type="text" name="address">
	<input type="submit">
	</form>
	</h2>
	</center> 
