<!DOCTYPE html>
<html>
<head>
	<title></title>
<style>

</style>
</head>
<body class="background5">
<h1><p class="f">You've chosen to have your order delivered.</p></h1>

<p class="e">Please input the address where you would like your order delivered:</p>

<h2><form method="post" action="delivery_address">
	<input type="text" name="address">
	<input type="submit">
	</form>
	</h2> 
</body>
</html>

