<!DOCTYPE html>
<html>
<head>
	<title></title>
<style>

</style>
</head>
<body class="background7">
<p class="m"></p>
<center><h1>Thank you for allowing Pizz-a for Me-a Pizzeria to cater to your pizza needs!</h1></center>
</body>
</html>
