<!DOCTYPE html>
<html>
<link rel="stylesheet" href = "css/stylesheet.css">
<head>
	<title></title>

</head>


<body>


<h1><p class="b">Welcome to Pizz-a for Me-a Pizzeria!</p></h1>
	<ul>
		<li><a href="/">HOME</a></li>
		<li><a href="/menu">MENU</a></li>
		<li><a href="/about_us">ABOUT US</a></li>
		<li><a href="/contact_us">CONTACT US</a></li>
	</ul>
<%=yield%>

</body>
</html>