<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<link rel="stylesheet" href = "css/stylesheet.css">
<body>

<div class="name center">Welcome to Pizz-a for Me-a Pizzeria!</div>

	<ul>
		<!-- <top-left><a href="http://www.minedminds.org"target = "_blank"><img src="download.jpg"  width="100" height="75" /></a></top-left>
		<li><a href="http://www.google.com/"target = "_blank">Go to Google</a></li> -->
		<li><a href="/">HOME</a></li>
		<li><a href="/menu">MENU</a></li>
		<li><a href="/about_us">ABOUT US</a></li>
		<li><a href="/contact_us">CONTACT US</a></li>
	</ul>
<%=yield%>

</body>
</html>