<h3><form method= "post" action ="pizza_choices" class="center">
<center><h3>Select the pizza size:</h3>
	<p><input type="radio" name="size" value="small">  Small: $13.00 (12")</p>  
	<p><input type="radio" name="size" value="medium">  Medium: $16.00 (14")</p>
	<p><input type="radio" name="size" value="large"> Large: $18.00 (16")</p>
<h3>Select the type of crust:</h3>
	<p><input type="radio" name="crust" value="plain">  Plain</p>  
	<p><input type="radio" name="crust" value="garlic">  Garlic</p>  
	<p><input type="radio" name="crust" value="stuffed"> Stuffed</p>
	<p><input type="radio" name="crust" value="thin"> Thin</p>
<h3>Select the type of sauce:</h3>
	<p><input type="radio" name="sauce" value="tomato">  Tomato</p>  
	<p><input type="radio" name="sauce" value="alfredo">  Alfredo</p>  
	<p><input type="radio" name="sauce" value="bbq"> BBQ</p>
<!-- <h3>Select for a plain cheese pizza:</h3>
	<p><input type="checkbox" name="cheese" value="cheese"> Plain Cheese</p><br> -->
<h3>Continue with order:</h3>
	<input type="submit" value="Continue">
	</center>
</form>

