<!DOCTYPE html>
<html>
<head>
	<title></title>
<style>

</style>

</head>
<body class="background2">

<h3><form method= "post" action ="pizza_choices" class="center">
<h3><p class="g">Select the pizza size:</p></h3>
	<p><input type="radio" name="size" value="small">  Small: $13.00 (12")</p>  
	<p><input type="radio" name="size" value="medium">  Medium: $16.00 (14")</p>
	<p><input type="radio" name="size" value="large"> Large: $18.00 (16")</p>
<p class="f">Select the type of crust:</p>
	<img src = "/img/plain.png"  width="50" height="50"><input type="radio" name="crust" value="plain">  Plain<br>  
	<img src = "/img/garlic.png"  width="50" height="50"><input type="radio" name="crust" value="garlic">  Garlic<br>  
	<img src = "/img/stuffed.png"  width="50" height="50"><input type="radio" name="crust" value="stuffed"> Stuffed<br>
	<img src = "/img/thin.png"  width="50" height="50"><input type="radio" name="crust" value="thin"> Thin<br>
<p class="i">Select the type of sauce:</p>
	<img src = "/img/tomato.png"  width="50" height="50"><input type="radio" name="sauce" value="tomato">  Tomato<br>  
	<img src = "/img/alfredo.png"  width="50" height="50"><input type="radio" name="sauce" value="alfredo">  Alfredo<br>  
	<img src = "/img/barbecue.png"  width="50" height="50"><input type="radio" name="sauce" value="bbq"> BBQ<br>
<!-- <h3>Select for a plain cheese pizza:</h3>
	<p><input type="checkbox" name="cheese" value="cheese"> Plain Cheese</p><br> -->
<p class="d">Continue with order:</p>
	<input type="submit" value="Continue">
	</center>
</form>
</h3>
</body>
</html>


