<!DOCTYPE html>
<html>
<head>
	<title></title>
<style>

</style>
</head>
<body class="background1">
<p class="m"></p>
<h1>Select "Begin Order" to start your order:

<form method = "post" action = "welcome_page">

	<input type = "submit" value = "Begin Order">

</form>
</h1>

</body>
</html>